/* define all colors as variables */
:root {
  --border: rgba(0, 0, 0, 0.2);
  --shadow: #000;
  --heading: rgba(255, 100, 0, 1);
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0, 0, 0, 0.3);
  --background: #fff;
}

/* elements that change color */
h1,
p {
  color: var(--text);
}

h2 {
  color: var(--heading);
}

.Card,
.Switch {
  border-color: var(--border);
}

.icon {
  color: var(--inactive);
}

.Card button {
  background: var(--main);
  color: var(--textAlt);
}
/* the rest of styles are in the full index.css */
*:not(body) {
  transition: all 0.5s ease;
}
